* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ddc3c3;
  display: flex;
  height: 100vh;
}

.buscar_cep {
  color: #d9abab;
  width: 47rem;
  height: 37rem;
  margin: auto;
  padding: 3rem;
  border-radius: 10px;
  background-color: #fff;
}

.title,
p {
  display: flex;
  justify-content: center;
  color: #b76e79;
}

input {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  border-radius: 10px;
  border: 2px solid #b76e79;
}

#btn {
  width: 20%;
  color: #fff;
  background-color: #d9abab;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.button {
  display: flex;
}
